{% extends 'BaseTemplate/BaseTemplate.html' %}

{% block title %}About Us{% endblock title %}

{% block main_body %}
<main class="px-0">
    <header>
        <h3>About Us</h3>
    </header>
    <p>Chugli is an Indian social media. We are here to help Indians express themselves in the easiest way possible with the objective of democratizing their voice. Share your thoughts in text, audio or video. <br>

        Some of the most prominent faces of India use Koo. You will also find millions of others from all walks of life. Chugli is home to the community of India. Follow people you like, know what's on their mind and share your thoughts with India too.<br>
        
        Let's do Chugli together!</p>
</main>
{% endblock main_body %}